{% extends 'layout.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}
<div class="card p-3 bg-base-100 shadow">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/savsh/OneDrive/изометрии/Рабочий стол/sandbox/vc/src/Controller/MainController.php</code></li>
        <li>Your template at <code>C:/Users/savsh/OneDrive/изометрии/Рабочий стол/sandbox/vc/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
