@import "tailwindcss";

@plugin "daisyui"  {
  themes: corporate --default, corporate --prefersdark;
}

* {
    box-sizing: border-box;
  --color-primary: #05588f;
}


body, html {
    width: 100%;
    margin: 0;
}
