{% extends 'layout.html.twig' %}

{% block title %}Редактирование вопроса{% endblock %}

{% block content %}
{{ include('quiz/_header.html.twig') }}
<div class="card shadow bg-base-100 p-3 max-w-md mx-auto">
    <div class="text-xl mb-4">Редактирование вопроса</div>

    {{ include('quiz/_form.html.twig') }}

    <div class="h-3" ></div>
    <form class="ml-auto w-max" method="post" action="{{ path('app_quiz_delete', {'id': quiz.id}) }}" onsubmit="return confirm('Вы уверны что хотите удалить данную оценку качества?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz.id) }}">
        <button class="btn btn-error btn-outline">
            Удалить
        </button>
    </form>
</div>
{% endblock %}
