{% extends 'layout.html.twig' %}

{% block title %}Hello ChangePasswordController!{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/savsh/OneDrive/изометрии/Рабочий стол/sandbox/vc/src/Controller/ChangePasswordController.php</code></li>
        <li>Your template at <code>C:/Users/savsh/OneDrive/изометрии/Рабочий стол/sandbox/vc/templates/change_password/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
