{% extends "base.html.twig" %}

{% block html_class %}bg-base-100{% endblock %}

{% block body %}
<div
    class="h-[100vh] -z-1 fixed top-0 left-0 bg-primary object-cover object-center w-full opacity-20"
    style="background-image: url(/bg.jpg);"
></div>
<twig:Header />
<div class="flex flex-row gap-3 pr-3 items-start relative">
  <twig:Menu />
  <div class="flex-1 pt-2">
    {% block content %}{% endblock %}
  </div>
</div>
<div class="h-12"></div>
{% endblock %}
