{% extends "base.html.twig" %}

{% block html_class %}bg-base-100{% endblock %}

{% block body %}
<div
    class="h-[100vh] -z-1 fixed top-0 left-0 bg-primary bg-center bg-cover w-full opacity-15"
    style="background-image: url(/bg.jpg);transform:scaleX(1);"
></div>
<twig:Header />
<div class="flex flex-row gap-3 pr-3 items-start justify-start relative w-full">
  <twig:Menu />
  <div class="flex-1 pt-2 w-full overflow-hidden">
    {% block content %}{% endblock %}
  </div>
</div>
<div class="h-12"></div>
{% endblock %}
