
{% if this.isAccess("ROLE_READER") %}
  <div class="w-60">
    <ul class="menu w-full gap-1">
      <li>
        <a {{ include("components/_menu-item.html.twig", { 'route': 'app_monitoring' }) }}>
          <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3327 10.0001H14.9993L12.4993 18.3334L7.49935 1.66675L4.99935 10.0001H1.66602" stroke="currentColor" stroke-opacity="0.2" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.3327 10.0001H14.9993L12.4993 18.3334L7.49935 1.66675L4.99935 10.0001H1.66602" stroke="currentColor" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            Мониторинг
        </a>
      </li>
      <li>
        <a {{ include("components/_menu-item.html.twig", { 'route': 'app_reports' }) }}>
            <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66732 11.6667V15.0001M13.334 10.0001V15.0001M10.0007 6.66675V15.0001M16.6673 5.66675V14.3334C16.6673 15.7335 16.6673 16.4336 16.3948 16.9684C16.1552 17.4388 15.7727 17.8212 15.3023 18.0609C14.7675 18.3334 14.0674 18.3334 12.6673 18.3334H7.33398C5.93385 18.3334 5.23379 18.3334 4.69901 18.0609C4.2286 17.8212 3.84615 17.4388 3.60647 16.9684C3.33398 16.4336 3.33398 15.7335 3.33398 14.3334V5.66675C3.33398 4.26662 3.33398 3.56655 3.60647 3.03177C3.84615 2.56137 4.2286 2.17892 4.69901 1.93923C5.23379 1.66675 5.93385 1.66675 7.33398 1.66675H12.6673C14.0674 1.66675 14.7675 1.66675 15.3023 1.93923C15.7727 2.17892 16.1552 2.56137 16.3948 3.03177C16.6673 3.56655 16.6673 4.26662 16.6673 5.66675Z" stroke="black" stroke-opacity="0.85" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>
            Отчёты
        </a>
      </li>
      {% if this.isAccess("ROLE_ADMIN") %}
        <li>
            <a {{ include("components/_menu-item.html.twig", { 'route': 'app_user_index' }) }}>
              <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3327 3.30655C14.5674 3.92017 15.416 5.19436 15.416 6.66675C15.416 8.13913 14.5674 9.41332 13.3327 10.0269M14.9993 14.3887C16.2589 14.9587 17.3931 15.8876 18.3327 17.0834M1.66602 17.0834C3.28809 15.0189 5.49033 13.7501 7.91602 13.7501C10.3417 13.7501 12.5439 15.0189 14.166 17.0834M11.666 6.66675C11.666 8.73782 9.98708 10.4167 7.91602 10.4167C5.84495 10.4167 4.16602 8.73782 4.16602 6.66675C4.16602 4.59568 5.84495 2.91675 7.91602 2.91675C9.98708 2.91675 11.666 4.59568 11.666 6.66675Z" stroke="black" stroke-opacity="0.85" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>
              Пользователи
            </a>
        </li>
        <li>
            <a {{ include("components/_menu-item.html.twig", { 'route': 'app_channel_index' }) }}>
              <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.58268 4.16663H9.94468C12.4841 4.16663 13.7537 4.16663 14.2357 4.6227C14.6523 5.01693 14.837 5.59769 14.7245 6.16014C14.5944 6.81081 13.5578 7.544 11.4846 9.0104L8.09745 11.4062C6.02427 12.8726 4.98767 13.6058 4.85755 14.2564C4.74506 14.8189 4.9297 15.3997 5.34632 15.7939C5.82829 16.25 7.09798 16.25 9.63735 16.25H10.416M6.66602 4.16663C6.66602 5.54734 5.54673 6.66663 4.16602 6.66663C2.7853 6.66663 1.66602 5.54734 1.66602 4.16663C1.66602 2.78591 2.7853 1.66663 4.16602 1.66663C5.54673 1.66663 6.66602 2.78591 6.66602 4.16663ZM18.3327 15.8333C18.3327 17.214 17.2134 18.3333 15.8327 18.3333C14.452 18.3333 13.3327 17.214 13.3327 15.8333C13.3327 14.4526 14.452 13.3333 15.8327 13.3333C17.2134 13.3333 18.3327 14.4526 18.3327 15.8333Z" stroke="black" stroke-opacity="0.85" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>
              Каналы
            </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
