<div role="tablist" class="tabs tabs-border">
  <a
    role="tab"
    href="{{ path('app_channel_users', { 'id': channel.id }) }}"
    class="tab{% if app.request.attributes.get('_route') == 'app_channel_users' %} tab-active{% endif %}"
  >
    Подключенные
  </a>
  <a
    role="tab"
    href="{{ path('app_channel_users_all', { 'id': channel.id }) }}"
    class="tab{% if app.request.attributes.get('_route') == 'app_channel_users_all' %} tab-active{% endif %}"
  >
    Все
  </a>
</div>