{% extends 'layout.html.twig' %}

{% block title %}Редактирование канала{% endblock %}

{% block content %}
{{ include('channel/_header.html.twig') }}
<div class="card shadow bg-base-100 p-3 max-w-md mx-auto">
    <div class="text-xl mb-4">Редактирование канала</div>

    {{ include('channel/_form.html.twig') }}

    <div class="h-3" ></div>
    <form class="ml-auto w-max" method="post" action="{{ path('app_channel_delete', {'id': channel.id}) }}" onsubmit="return confirm('Вы уверны что хотите удалить данный канал?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ channel.id) }}">
        <button class="btn btn-error btn-outline">
            Удалить
        </button>
    </form>
</div>
{% endblock %}
