<div role="tablist" class="tabs tabs-border">
  <a
    role="tab"
    href="{{ path('app_user_channels', { 'id': user.id }) }}"
    class="tab{% if app.request.attributes.get('_route') == 'app_user_channels' %} tab-active{% endif %}"
  >
    Подключенные
  </a>
  <a
    role="tab"
    href="{{ path('app_user_channels_all', { 'id': user.id }) }}"
    class="tab{% if app.request.attributes.get('_route') == 'app_user_channels_all' %} tab-active{% endif %}"
  >
    Все
  </a>
</div>
