
<div class="flex flex-row items-end gap-2 mb-2">
  <a
      class="btn btn-sm"
      href="{{ path('app_user_index') }}"
  >
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M15.41 16.59 10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"></path></svg>
      Пользователи
  </a>
  {% if user.isOperator() %}
    <div role="tablist" class="tabs tabs-border">
      <a
        role="tab"
        href="{{ path('app_user_edit', { 'id': user.id }) }}"
        class="tab{% if app.request.attributes.get('_route') == 'app_user_edit' %} tab-active{% endif %}"
      >
        Информация
      </a>
      <a
        role="tab"
        href="{{ path('app_user_channels', { 'id': user.id }) }}"
        class="tab{% if app.request.attributes.get('_route') == 'app_user_channels' or app.request.attributes.get('_route') == 'app_user_channels_all' %} tab-active{% endif %}"
      >
        Каналы
      </a>
      <a
        role="tab"
        href="{{ path('app_user_qualities', { 'id': user.id }) }}"
        class="tab{% if app.request.attributes.get('_route') == 'app_user_qualities' or app.request.attributes.get('_route') == 'app_user_qualities_all' %} tab-active{% endif %}"
      >
        Оценки качества
      </a>
    </div>
  {% endif %}
</div>
