{% extends 'layout.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="card shadow bg-base-100 p-3 max-w-md mx-auto">
    <div class="text-xl mb-4">Профиль</div>

    {% if user.avatar %}
        <label class="label">
            Текущий аватар
        </label>
        <img src="{{ user.avatar }}" class="w-15 h-15 rounded-full object-cover object-center mb-4">
    {% endif %}

    {{ include('user/_form.html.twig') }}
</div>
{% endblock %}
